body {
    color:white;
    background-color:#333333;
    font-family: 'Comfortaa';
    font-weight:normal;
    font-style: normal;
}

ul {

list-style-type:none;
padding:0px;
margin:0px;

}

h1, h2 {
    font-size: 3em;
    padding: 0;
    margin: 0px 0 0;
    text-align:center;
}

h3, h4 {
    font-size: 2em;
    padding: 0;
    margin: 0px 0 0;
    text-align:center;
}


h5, h6 {
    font-size: 1em;
    padding: 0;
    margin: 0px 0 0;
    text-align:center;
}

.button {
    background: #87C37D;
    width:85%;
    margin-left: auto ;
    margin-right: auto ;
    padding:.3em;
    cursor:pointer;
    font-size: 2em;
    text-align: center;
}
.button:hover {
    background: #339966;
    color: #fff;
    cursor:pointer;
}
.button:active {
    background: #51754B;
    cursor:pointer;
}

.button2 {
    background: #666666;
    width:85%;
    margin-left: auto ;
    margin-right: auto ;
    padding:.3em;
    cursor:pointer;
    font-size: 2em;
    text-align: center;
}
.button2:hover {
    background: #525252;
    color: #ffffff;
    cursor:pointer;
}
.button2:active {
    color: #ffffff;
    background: #424242;
    cursor:pointer;
}

.button3 {
    background: #87C37D;
    color: white;
    width:87%;
    margin-left: auto ;
    margin-right: auto ;
    padding:.3em;
    cursor:pointer;
    font-size: 2em;
    text-align: center
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.button3:hover {
    background: #339966;
    color: #fff;
    cursor:pointer;
}
.button3:active {
    background: #51754B;
    cursor:pointer;
}

.spacer {
  height: 100px;
}

.spacer50 {
  height: 50px;
}

input {
    display: block;
    background: #fff;
    width:85%;
    margin-left: auto ;
    margin-right: auto ;
    padding:.3em;
    cursor:pointer;
    font-size: 2em;
    text-align: center;
    font-family: Comfortaa;
    Color: #000;
    border: none;
    
}

.tracklist {
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  
}
.track{
  width: 100%;
  height: 100%;
  float: left;
}
.upvote{
  font-family: fontawesome;
  text-align: center;
  display: inline;
  font-size: 6em;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin: 0.25em;
  background-color: #87C37D;
}

.uparrow {
  margin-top: -10%;
}

.trackname {
  float: left;
  font-size: 3em;
  margin-left: 0.5em;
  margin-top: 0.8em;
}

.downvote{
  font-family: fontawesome;
  text-align: center;
  display: inline;
  font-size: 6em;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: right;
  margin: 0.25em;
  background-color: #ff6666;
}

.downarrow {
  margin-top: -1%;
}

.delete{
  font-family: fontawesome;
  text-align: center;
  display: inline;
  font-size: 6em;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin: 0.25em;
  margin-left: 35%;
  background-color: #ff6666;
}

.cross {
  margin-top: -4%;
}

#audio-test {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.addmusic{
  font-family: fontawesome;
  text-align: center;
  display: inline;
  font-size: 6em;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: right;
  margin: 0.25em;
  background-color: #87d37c;
}

.plus {
  margin-top: 5%;
}

.deletem{
  font-family: fontawesome;
  text-align: center;
  display: inline;
  font-size: 6em;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: right;
  margin: 0.25em;
  background-color: #ff6666;
}

.crossm {
  margin-top: 5%;
}

.error{
    font-family: 'Comfortaa';
    color:lightcoral;
    font-size: 3em;
    padding: 0;
    margin: 0px 0 0;
    text-align:center;
}
.listtextmedium {
    text-align: center;
    font-size: 2.5em;
}

a:link {color:#87C37D;}    /* unvisited link */
a:visited {color:#87C37D;} /* visited link */
a:hover {color:#339966;}   /* mouse over link */
a:active {color:#0000FF;}  /* selected link */